.Card{
  border-radius: 5px;
  /* border: 1px solid white; */
  transition: all 0.5s ease;
}

.ImageContainer img {
  max-width: 100%;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.CardDescription{
  padding: 0 10px 0 10px;
  min-height: 210px;
  margin-top: 15px;
}

.Heading{
  color: #ffffff;
}

.Rating, .Description{
  color: #5B6471;
  margin-top: 15px;
}

.Card:hover {
  background-color: #141C25;
  transform: translatey(-10px);
  box-shadow: 4px 8px 12px 0 rgba(0, 0, 0, 0.8);
}

