.DrawerToggle{
  margin-right: 20px;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  display: none;
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.05);
}

.Icon{
  color: white;
}

@media(max-width: 800px){
  .DrawerToggle{
    display: block;
  }
}