.SearchWrapper{
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 23px;
  z-index: 20;
}
.Input{
  background-color: rgb(29, 40, 53);;
  width: 400px;
  border: 0;
  padding: 5px;
  font-size: 1.1rem;
  font-weight: 100;
  color: #5B6471;
  
}
.Input:focus, .SearchButton:focus{
  outline: none;
}

.SearchButton{
  border: 0;
  font-size: 1.1rem;
  padding: 5px 20px;
  background-color: rgb(29, 40, 53);
  color: #5B6471;
}
.SearchButton:disabled{
  cursor: not-allowed;
}

.SearchButton:hover{
  color: #fff;
  background-color: rgb(42, 58, 77);
}

.SearchResults{
  background-color: rgb(29, 40, 53);
}

@media(max-width: 800px){
  .SearchWrapper{
    top: 100px;
  }
  .Input{
    width: 350px;
  }
}

@media(max-width: 500px){
  .Input{
    width: 200px;
  }
}


