.MovieContainer{
  margin-top: 75px;
  margin-left: 30px;
  display: grid;
  grid-template-areas: 
  'image description'
  'image description-1';
  grid-gap: 20px;
}

.ImageWrapper{
  grid-area: image;
}

.ImageWrapper img {
  width: 100%;
  border-radius: 5px;
}

.MovieDescription{
  grid-area: description;
  padding-right: 50px;
}

.Heading {
  color: #ffffff;
}

.Rating, .Overview, .ReleaseDate{
  color: #5B6471;
}

.Rating, .Overview{
  margin-top: 10px;
}

.ReleaseDate{
  margin-top: 20px;
}

.GenreContainer{
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.CastContainer{
  margin-top: 15px;
  grid-area: description-1;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  grid-gap: 10px;
}
@media(max-width: 1200px){
  .MovieContainer{
    margin: 5%;
    grid-template-areas: 
    "image"
    "image"
    "description"
    "description-1";
  }
}

@media(max-width: 800px){
 .MovieContainer{
   margin-top: 0;
   margin-left: 0;
  grid-template-areas: 
  'image'
  'description';
  grid-gap: 0;
  padding: 10%;
 }

 .MovieDescription{
   padding-right: 0;
 }
}

